#container {
  height: 600px;
  width: 800px;
  background-color: aquamarine;
}

#left {
  float: left;
  margin-right: 20px;
}
#right {
  float: right;
}
p {
  color: red;
}
.error {
  float: left;
  margin-right: 40px;
}
